.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
}

.text {
  text-align: center;
}
